// SCSS
$primaryColor: #0282f9;
$secondaryColor: #1c1c1c;
$color-grey: grey;
$color-white: white;


* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}